<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <title><%= title %></title>
    <style type="text/css">
        header{
            width: 100%;
            height: 80px;
            background-color: lightseagreen;
            color: white;
            margin-top: -20px;
        }
       form{
           /*background-color: red;*/
           width: 70%;
           margin-left: 580px;
       }
        .form-group{
            margin-top: 50px;
        }
        .form-group input{
            width: 60%;
            border-radius: 2px;
            box-sizing: border-box;
        }
        .form-group textarea{
            width: 60%;
        }
    </style>
</head>
<body>
<header>
    <h1 style="line-height: 80px;"><%= title %></h1>
</header>
<form method="post" action="/edit">
    <div class="form-group">
        <label for="name"  control-label">姓名:</label>
        <input type="text" name="name" id="name" required pattern="^[\u4e00-\u9fa5]{2,4}$" value="<%= doc.name %>">
    </div>
    <!-- 年龄 -->
    <div class="form-group">
        <label for="age" control-label">年龄:</label>
        <input type="number" name="age" id="age" required value="<%= doc.age %>" step="1">
    </div>
    <!-- 性别 -->
    <div class="form-group">
        <label control-label">性别:</label>
        <label for="male" class="radio-inline">
            <input type="radio" name="gender" id="male" value="男" checked />男
        </label>
        <label for="female" class="radio-inline">
            <input type="radio" name="gender" id="female" value="女" />女
        </label>
    </div>
    <!-- 号码 -->
    <div class="form-group">
        <label for="phone" control-label">号码:</label>
        <input type="tel" name="phone" id="phone" required pattern="^1[3|4|5|7|8]\d{9}$" value="<%= doc.phone %>">
    </div>
    <!-- 邮箱 -->
    <div class="form-group">
        <label for="email" control-label">邮箱:</label>
        <input type="email" name="email" id="email" required pattern="^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$" value="<%= doc.email %>">
    </div>
    <!-- 备注 -->
    <div class="form-group">
        <label for="detail" control-label">备注:</label>
        <textarea name="detail" id="detail" ><%= doc.detail %></textarea>
    </div>
    <button class="btn btn-success" style="width: 62%;margin-left: 25px">提交</button>
</form>

</body>
</html>